{% extends 'base.html.twig' %}

{% block title %}Paramètre - Être végétarien!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/css/setting-min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <section id="params" class="container paddingSeperateur">
        <div class="container rond-2 p-4 shadow-1">
            <div id="resultat"></div>
            <div class="flex">
                <div class="row w-100">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">Modifier le profil</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                               role="tab" aria-controls="v-pills-profile" aria-selected="false">Changer le mot de passe</a>
                            <a class="nav-link" id="v-pills-rs-tab" data-toggle="pill" href="#v-pills-rs" role="tab"
                               aria-controls="v-pills-rs" aria-selected="false">Réseaux sociaux</a>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div class="media cursor-pointer">
                                    <img id="avatar" class="mr-3 rond"
                                         src="{{ app.user.avatar|default('https://iupac.org/wp-content/uploads/2018/05/default-avatar.png') }}"
                                         alt="Votre avatar" style="height: 40px;width: 40px">
                                    <div class="media-body">
                                        <p>{{ app.user.username }}</p>
                                        <p class="mt--20 cds">Modifier la photo de profil</p>
                                        <form method="post" class="w-100" action="" enctype="multipart/form-data"
                                              id="uploadImage">
                                            <div class="input-group mb-3 w-100">
                                                <div class="custom-file w-100">
                                                    <input type="file" class="custom-file-input" id="file">
                                                    <label class="custom-file-label" for="file">Choisir l'image de
                                                        présentation</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">Pseudonyme</div>
                                    <input type="name" class="form-control" id="username" placeholder="Votre pseudonyme"
                                           value="{{ app.user.username }}">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">E-mail</div>
                                    <input type="email" class="form-control" id="email" placeholder="Votre e-mail"
                                           value="{{ app.user.email }}">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">Bio</div>
                                    <textarea id="bio" class="w-100 p-2"
                                              placeholder="Votre bio">{{ app.user.bio }}</textarea>
                                </div>
                                <div class="flex">
                                    <p style="color: #99a6c4;" class="mt-3 margin-auto"><strong>Information privée</strong>
                                    </p>
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">Préférence</div>
                                    <select class="form-control" id="preference">
                                        <option {% if app.user.preference == "Normal" %}selected{% endif %}>Normal
                                        </option>
                                        <option {% if app.user.preference == "Végétarien" %}selected{% endif %}>Végétarien
                                        </option>
                                        <option {% if app.user.preference == "Pesco-végétarien" %}selected{% endif %}>
                                            Pesco-végétarien</option>
                                        <option {% if app.user.preference == "Végan" %}selected{% endif %}>Végan</option>
                                        <option {% if app.user.preference == "Flexitarien" %}selected{% endif %}>Flexitarien
                                        </option>
                                        <option {% if app.user.preference == "L'ovo-végétarien" %}selected{% endif %}>
                                            L'ovo-végétarien</option>
                                        <option {% if app.user.preference == "Lacto-végétarien" %}selected{% endif %}>
                                            Lacto-végétarien</option>
                                        <option {% if app.user.preference == "L'ovo-lacto-végétarien" %}selected{% endif %}>
                                            L'ovo-lacto-végétarien</option>
                                        <option {% if app.user.preference == "Pollo-végétarien" %}selected{% endif %}>
                                            Pollo-végétarien</option>
                                        <option {% if app.user.preference == "Crudivorien" %}selected{% endif %}>Crudivorien
                                        </option>
                                    </select>
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">Depuis</div>
                                    <input type="date" class="form-control" id="date"
                                           value="{{ app.user.PreferenceCreatedAt ? app.user.PreferenceCreatedAt.date|date("Y-m-d") }}">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <button id="btnSave" class="btn btn-primary ml-auto">Envoyer</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab">
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">Ancien mot de passe</div>
                                    <input type="password" class="form-control" id="oldPassword"
                                           placeholder="Ancien mot de passe">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">Nouveau mot de passe</div>
                                    <input type="password" class="form-control" id="password"
                                           placeholder="Nouveau mot de passe">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">Confirmer le nouveau mot de passe</div>
                                    <input type="password" class="form-control" id="verifyPassword"
                                           placeholder="Confirmer le nouveau mot de passe">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <button id="savePassword" class="btn btn-primary ml-auto">Envoyer</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-rs" role="tabpanel" aria-labelledby="v-pills-rs-tab">
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">Facebook</div>
                                    <input id="facebook" type="text" class="form-control" id="email" placeholder="Votre Facebook"
                                           value="{{ app.user.facebook }}">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">YouTube</div>
                                    <input id="youtube" type="text" class="form-control" id="email" placeholder="Votre chaine Youtube"
                                           value="{{ app.user.youtube }}">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <div class="p-2 flex-fill bd-highlight">Instagram</div>
                                    <input id="instagram" type="text" class="form-control" id="email" placeholder="Votre Instagram"
                                           value="{{ app.user.instagram }}">
                                </div>
                                <div class="d-flex bd-highlight mt-3">
                                    <button id="saveRS" class="btn btn-primary ml-auto">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
<script>
$("#savePassword").click(function () {
    $.post(
        "{{ path('save_password') }}",
                {
                    oldPassword: $("#oldPassword").val(),
                    password: $("#password").val(),
                    verifyPassword: $("#verifyPassword").val(),
                    csrfData: "{{ csrf_token('save-password') }}"
                },
                function (data) {
                    $("#resultat").html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + data.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">×</span></button></div>');
                },
                'json'
            ).fail(function (data) {$("#resultat").html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + data.responseJSON.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">×</span></button></div>');});
    })
$("#saveRS").click(function () {
    $.post(
        "{{ path('save_rs') }}",
                {
                    facebook: $("#facebook").val(),
                    instagram: $("#instagram").val(),
                    youtube: $("#youtube").val(),
                    csrfData: "{{ csrf_token('save-rs') }}"
                },
                function (data) {
                    $("#resultat").html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + data.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">×</span></button></div>');
                },
                'json'
            ).fail(function (data) {$("#resultat").html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + data.responseJSON.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">×</span></button></div>');});
    })
$("#btnSave").click(function () {
    let stop = true;
    if ($('#file')[0].files[0]) {
        stop = false
        var fd = new FormData();
        var files = $('#file')[0].files[0];
        fd.append('file', files);
        $.ajax({
            url: "{{ path('upload_avatar') }}?_token={{ csrf_token('upload-avatar') }}",
                type: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#avatar").attr("src", data.location)
                    $("#resultat").html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + data.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">×</span></button></div>');
                    document.getElementById("file").value = '';
                    stop = true
                    $("#btnSave").click()
                },
				error: function (data) {
                    $("#resultat").html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + data.responseJSON.message.detail + '<button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">×</span></button></div>');
				}
            });
        }
        if(stop){
            $.post(
                "{{ path('save_profil') }}",
                {
                    username: $("#username").val(),
                    email: $("#email").val(),
                    bio: $("#bio").val(),
                    preference: $("#preference").val(),
                    date: $("#date").val(),
                    csrfData: "{{ csrf_token('save-profil') }}"
                },
                function (data) {
                    $("#resultat").html('<div class="alert alert-success alert-dismissible fade show" role="alert">' + data.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">×</span></button></div>');
                },
                'json'
            ).fail(function (data) {$("#resultat").html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + data.responseJSON.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">×</span></button></div>');});
        }
    });
</script>
{% endblock %}