{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des products dans les stores - Être Végétarien{% endblock %}

{% block body %}
<section id="panel" class="flex">
    <div class="w-100">
        <div paginationView="store">
            <table class="table table-hover contentPagination">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr paginationName="store" paginationId="{{ loop.index }}">
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.Product.nom }}</td>
                        <td>{{ product.Store.nom }}</td>
                        <td class="btnOption">
                            <a target="_BLANK" href="{{ path('store_show', {'id': product.Store.id}) }}"
                                class="blue"><i class="fad fa-store-alt"></i></a>
                            <a class="red cursor-pointer" value="{{ product.id }}" data-toggle="modal"
                                data-target="#deleteModal"><i class="fad fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex justify-flex-end">
            <a href="#" class="new btn btn-primary" role="button" data-toggle="modal" data-target="#addModal"><i
                    class="fad fa-plus"></i>
                Nouveau
            </a>
            <ul paginationBtn="store" class="pagination justify-content-end">
                <div class="btnPagination flex mr-4">
                </div>
            </ul>
        </div>
    </div>
</section>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Êtes-vous sûr de supprimer cet article ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button deleteStore="0" csrf-data="{{ csrf_token('delete-item') }}" type="button"
                    class="btn btn-primary">Oui</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Veuillez choisir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3 mt-3 product-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Product : </span>
                    </div>
                    <input type="text" name="search" class="form-control" id="product">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fad fa-times"></i></span>
                    </div>
                </div>
                <div id="search-product">
                </div>
                <div class="input-group mb-3 mt-3 store-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Store : </span>
                    </div>
                    <input type="text" name="search" class="form-control" id="store">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fad fa-times"></i></span>
                    </div>
                </div>
                <div id="search-store">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button addProductStore="0" product="0" store="0" csrf-data="{{ csrf_token('save-item') }}"
                    type="button" class="btn btn-primary">Oui</button>
            </div>
        </div>
    </div>
</div>
<script>
    i = 0;
    $(document).ready(function () {
        $('[name="search"]#product').keypress(function (e) {
            $.getJSON("/products/search?search=" + $('[name="search"]#product').val() + "&limit=3")
                .then((products) => {
                    $('#search-product').html("")
                    if (products.length == 0) {
                        $('#search-product').html("<p class='margin-auto'>Aucun product trouvé</p>")
                    }
                    products.forEach((product) => {
                        $("#search-product").append('<div class="flex" addProduct="' + product.id + '"><div class="w-33 flex"><img class="mr-3 rond margin-auto"src="' + product.image + '"style="height: 40px;width: 40px"></div><div class="w-33 flex"><p class="margin-auto">' + product.nom + '</p></div><div class="w-33"></div></div>')
                    })
                });
        });
    });
    $(document).ready(function () {
        $('[name="search"]#store').keypress(function (e) {
            $.getJSON("/stores/search?search=" + $('[name="search"]#store').val() + "&limit=3")
                .then((stores) => {
                    $('#search-store').html("")
                    if (stores.length == 0) {
                        $('#search-store').html("<p class='margin-auto'>Aucun store trouvé</p>")
                    }
                    stores.forEach((store) => {
                        $("#search-store").append('<div class="flex" addStore="' + store.id + '"><div class="w-33 flex"><img class="mr-3 rond margin-auto"src="' + store.image + '"style="height: 40px;width: 40px"></div><div class="w-33 flex"><p class="margin-auto">' + store.nom + '</p></div><div class="w-33"></div></div>')
                    })
                });
        });
    });
    $(document).on('click', '[addProduct]', function (e) {
        id = $([this]).attr('addProduct')
        $('[addProductStore]').attr('product', id)
        $('[name="search"]#product').attr('value', id)
        $('.product-group .input-group-append').html('<span class="input-group-text"><i class="cds fad fa-check"></i></span>')
        $('#search-product').html("")
    })
    $(document).on('click', '[addStore]', function (e) {
        id = $([this]).attr('addStore')
        $('[addProductStore]').attr('store', id)
        $('[name="search"]#store').attr('value', id)
        $('.store-group .input-group-append').html('<span class="input-group-text"><i class="cds fad fa-check"></i></span>')
        $('#search-store').html("")
    })
    $(document).on('click', '[addProductStore]', function (e) {
        csrfData = $(this).attr('csrf-data')
        e.preventDefault();
        $.post(
            "{{ path('admin_add_product_store') }}",
            {
                storeId: $([this]).attr('store'),
                productId: $([this]).attr('product'),
                csrfData: $(this).attr('csrf-data')
            },
            function (data) {
                if (data.code == '200') {
                    location.reload();
                }
                else {
                    console.log(data)
                }
            },
            'json'
        );
    });
    addEventListener("load", () => {
        new pagination("store", 7, 10, "table-row");
    })

    $(document).on('click', '[data-target="#deleteModal"]', function (e) {
        $('[deleteStore]').attr("deleteStore", $(this).attr('value'))
    });

    $(document).on('click', '[deleteStore]', function (e) {
        id = $(this).attr('deleteStore')
        csrfData = $(this).attr('csrf-data')
        e.preventDefault();
        $.post(
            "{{ path('admin_delete_product_store') }}",
            {
                id: id,
                csrfData: $(this).attr('csrf-data')
            },
            function (data) {
                if (data.code == '200') {
                    location.reload();
                }
                else {
                    console.log(data)
                }
            },
            'json'
        );
    });
</script>
{% endblock %}