{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des restaurants - Être Végétarien{% endblock %}

{% block body %}
<section id="panel" class="flex">
    <div class="w-100">
        <div paginationView="restaurant">
            <table class="table table-hover contentPagination">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for restaurant in restaurants_avis %}
                    <tr paginationName="restaurant" paginationId="{{ loop.index }}">
                        <th scope="row">{{restaurant.id}}</th>
                        <td>{{restaurant.restaurant.nom}}</td>
                        <td>{{restaurant.contenu}}</td>
                        <td class="btnOption">
                            <a target="_BLANK" href="{{ path('article_show', {'id': restaurant.restaurant.id}) }}"><i class="fad fa-eye"></i></a>
                            <a href="" class="blue"><i class="fad fa-edit"></i></a>
                            <a class="red"><i class="fad fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div aria-label="Page navigation example">
            <ul paginationBtn="restaurant" class="pagination justify-content-end">
                <div class="btnPagination flex mr-4">
                </div>
            </ul>
        </div>
    </div>
</section>
<script>
addEventListener("load", () => {
    new pagination("restaurant", 7, 10, "table-row");
})
</script>
{% endblock %}