{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des magasins - Être Végétarien{% endblock %}

{% block body %}
<section id="panel" class="flex">
    <div class="w-100">
        <div paginationView="magasin">
            <table class="table table-hover contentPagination">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for magasin in magasins %}
                    <tr paginationName="magasin" paginationId="{{ loop.index }}">
                        <th scope="row">{{ magasin.id }}</th>
                        <td>{{ magasin.nom }}</td>
                        <td>{{ magasin.location }}, {{ magasin.ville }}</td>
                        <td class="btnOption">
                            <a target="_BLANK" href="{{ path('article_show', {'id': magasin.id}) }}"><i
                                    class="fad fa-eye"></i></a>
                            <a href="{{ path('admin_edit_magasin', {'id': magasin.id}) }}" class="blue"><i
                                    class="fad fa-edit"></i></a>
                            <a class="red"><i class="fad fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex justify-flex-end">
            <a href="{{ path('adminNewMagasin') }}" class="new btn btn-primary" role="button"><i
                    class="fad fa-plus"></i>
                Nouveau
            </a>
            <ul paginationBtn="magasin" class="pagination justify-content-end">
                <div class="btnPagination flex mr-4">
                </div>
            </ul>
        </div>
    </div>
</section>
<script>
    addEventListener("load", () => {
        new pagination("magasin", 7, 10, "table-row");
    })
</script>
{% endblock %}