{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des avis restaurants - Être Végétarien
{% endblock %}

{% block body %}
	<section id="panel" class="flex">
		<div class="w-100">
			<div paginationview="restaurant">
				<table class="table table-hover contentPagination">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Contenu</th>
							<th scope="col">Par</th>
							<th scope="col">Options</th>
						</tr>
					</thead>
					<tbody>
						{% for restaurant in restaurants_feedback %}
							<tr paginationname="restaurant" paginationid="{{ loop.index }}">
								<th scope="row">{{restaurant.id}}</th>
								<td>{{restaurant.note}}/5</td>
								<td>{{restaurant.message}}</td>
								<td>{{restaurant.postedBy.username}}</td>
								<td class="btnOption">
									<a target="_BLANK" href="{{ path('restaurant_show', {'id': restaurant.restaurant.id}) }}">
										<i class="fad fa-eye"></i>
									</a>
									<a target="_BLANK" class="blue" href="{{ path('user', {'id': restaurant.postedBy.id}) }}">
										<i class="fad fa-user-alt"></i>
									</a>
									<a class="red cursor-pointer" value="{{ restaurant.id }}" data-toggle="modal" data-target="#deleteModal">
										<i class="fad fa-times"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="flex justify-flex-end">
				<ul paginationbtn="restaurant" class="pagination justify-content-end">
					<div class="btnPagination flex mr-4"></div>
				</ul>
			</div>
		</div>
	</section>
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Êtes-vous sûr de supprimer cet feedback ?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
					<button deleterestaurantfeedback="0" csrf-data="{{ csrf_token('delete-item') }}" type="button" class="btn btn-primary">Oui</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		addEventListener("load", () => {
new pagination("restaurant", 7, 10, "table-row");
})

$(document).on('click', '[data-target="#deleteModal"]', function (e) {
$('[deleteRestaurantFeedback]').attr("deleteRestaurantFeedback", $(this).attr('value'))
});

$(document).on('click', '[deleteRestaurantFeedback]', function (e) {
id = $(this).attr('deleteRestaurantFeedback')
e.preventDefault();
$.post("{{ path('admin_delete_restaurantfeedback') }}", {
id: id,
csrfData: $(this).attr('csrf-data')
}, function (data) {
if (data.code == '200') {
location.reload();
} else {
console.log(data)
}
}, 'json');
});
	</script>
{% endblock %}
