{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des produits - Être Végétarien{% endblock %}

{% block body %}
<section id="panel" class="flex">
    <div class="w-100">
        <div paginationView="produit">
            <table class="table table-hover contentPagination">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produits %}
                    <tr paginationName="produit" paginationId="{{ loop.index }}">
                        <th scope="row">{{ produit.id }}</th>
                        <td>{{ produit.nom }}</td>
                        <td><img height="40" width="40" src="{{ produit.image }}" /></td>
                        <td class="btnOption">
                            <a target="_BLANK" href="{{ path('article_show', {'id': produit.id}) }}"><i
                                    class="fad fa-eye"></i></a>
                            <a href="{{ path('admin_edit_produit', {'id': produit.id}) }}" class="blue"><i
                                    class="fad fa-edit"></i></a>
                            <a class="red"><i class="fad fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex justify-flex-end">
            <a href="{{ path('adminNewProduit') }}" class="new btn btn-primary" role="button"><i
                    class="fad fa-plus"></i>
                Nouveau
            </a>
            <ul paginationBtn="produit" class="pagination justify-content-end">
                <div class="btnPagination flex mr-4">
                </div>
            </ul>
        </div>
    </div>
</section>
<script>
    addEventListener("load", () => {
        new pagination("produit", 7, 10, "table-row");
    })
</script>
{% endblock %}