{% extends 'base.html.twig' %}

{% block title %}Meal - Être Végétarien!{% endblock %}

{% block stylesheets %}<link href="{{ asset('/css/meal-min.css') }}" rel="stylesheet"/>{% endblock %}
{% block body %}
<section id="meal" class="container paddingSeperateur">
    <div class="input-group nav-search">
        <i class="fas fa-search"></i>
        <input type="text" name="search" class="form-control" placeholder="Rechercher un meal" value="">
    </div>
    <div class="product-list-design flex flex-wrap flex-between">
        {% for meal in meal %}
        <a class="item" href="{{ path('meal_show', {'id': meal.id}) }}">
            <div class="top">
                <img alt="{{ meal.name }}" src="{{ meal.image }}" />
            </div>
            <div class="bottom">
                <p>{{ meal.name }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    i = 0;
    $(document).ready(function () {
        $('[name="search"]').keyup(function (e) {
            $.getJSON("/meal/search?search=" + $('[name="search"]').val())
                .then((meal) => {
                    $('.product-list-design').html("")
                    if (meal.length == 0) {
                        $('.product-list-design').html("<p class='margin-auto'>Aucun meal trouvé</p>")
                    }
                    meal.forEach((meal) => {
                        $(".product-list-design").append('<a class="item" href="/meal/' + meal.id + '"><div class= "top"><img alt="' + meal.name + '" src="' + meal.image + '" /></div><div class="bottom"><p>' + meal.name + '</p></div></a>')
                    })
                });
        });
    });
</script>
{% endblock %}