{% extends 'base.html.twig' %}

{% block title %}
	{{ meal.name }}
	- Être Végétarien!
{% endblock %}
{% block stylesheets %}
	<script src="{{ asset('/js/pagination.js') }}"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css">
	<link href="{{ asset('/css/mealinfo-min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<section id="meal" class="container paddingSeperateur flex">
		<div class="left col-7">
			<div class="flex flex-between">
				<h1 class="mtb-auto">{{ meal.name }}</h1>
				<p class="note mtb-auto">
					{% if app.user %}<i btnfavorites="{{meal.id}}" class="{% for favorites in meal.mealFavorites %}{% if favorites.postedBy.id == app.user.id %}active{% endif %}{% endfor %} cursor-pointer fad fa-star"></i>{% endif %}
				</p>
			</div>
			<div class="flex flex-between">
				<p class="mtb-auto postedOf">Publié le
					<strong>{{meal.createdAt|date("d/m/Y")}}</strong>
				</p>
			</div>
			<div class="w-100">
				<ul class="nav nav-tabs" id="tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="infospratiques-tab" data-toggle="tab" href="#infospratiques" role="tab" aria-controls="infospratiques" aria-selected="true">INFOS PRATIQUES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="false">FAVORIS</a>
					</li>
				</ul>
				<div class="tab-content" id="tabContent">
					<div class="tab-pane fade show active" id="infospratiques" role="tabpanel" aria-labelledby="infospratiques-tab">
						{{ meal.recipe | raw }}
					</div>
					<div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
						<div paginationview="feedback" class="feedbackCont">
							<div class="feedbackContent contentPagination">
								{% for favorites in mealFavorites %}
									<a class="media" href="{{ path('user', {'id': favorites.Meal.PostedBy.id}) }}">
										<img id="avatar" class="mr-3 rond" src="{% if favorites.Meal.PostedBy.avatar %}{{ asset(favorites.Meal.PostedBy.avatar) }}{% else %}https://iupac.org/wp-content/uploads/2018/05/default-avatar.png{% endif %}" alt="Votre avatar" style="height: 40px;width: 40px">
										<div class="media-body">
											<p>{{ favorites.Meal.PostedBy.username }}</p>
											<p class="mt--20 cds">
												<strong class="cds">{{ favorites.Meal.PostedBy.preference }}</strong>
											</p>
										</div>
									</a>
								{% else %}
									<p class="text-center">Aucune personne à ajouter ce repas en favorites</p>
								{% endfor %}
							</div>
						</div>
						<div paginationbtn="feedback" class="pagination justify-content-end">
							<div class="btnPagination flex mr-4"></div>
						</div>
						<div id="resultat"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="right col-5">
			<p class="titre">
				<span>Publié par</span>
			</p>
			<div class="content">
				<a class="media" href="{{ path('user', {'id': meal.PostedBy.id}) }}">
					<img id="avatar" class="mr-3 rond" src="{% if meal.PostedBy.avatar %}{{ asset(meal.PostedBy.avatar) }}{% else %}https://iupac.org/wp-content/uploads/2018/05/default-avatar.png{% endif %}" alt="Votre avatar" style="height: 40px;width: 40px">
					<div class="media-body">
						<p>Arnaud</p>
						<p class="mt--20 cds">
							<strong class="cds">{{ meal.PostedBy.preference }}</strong>
						</p>
					</div>
				</a>
			</div>
			<p class="titre">
				<span>Autres repas</span>
			</p>
			<div class="content">
				{% for meal in autresmeal %}
					{% if loop.index != 1 %}
						<hr>
					{% endif %}
					<div class="meal flex flex-between">
						<div class="left">
							<a href="{{ path('meal_show', {'id': meal.id}) }}">
								<p class="cds mealName">{{ meal.name }}</p>
								<p class="gris mealPostedBy">{{ meal.PostedBy.username }}, Végétarien</p>
							</a>
						</div>
						<div class="right mtb-auto flex">
							<p class="mtb-auto note">
								{% if app.user %}<i btnfavorites="{{meal.id}}" class="{% for favorites in meal.mealFavorites %}{% if favorites.postedBy.id == app.user.id %}active{% endif %}{% endfor %} f-20 cursor-pointer fad fa-star"></i>{% endif %}
							</p>
						</div>
					</div>
				{% else %}
					<em>Aucun repas</em>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
{% block javascript %}
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
	<script>
addEventListener("load", () => {
    new pagination("feedback", 3, 10, "block");
})
$("[btnFavorites]").click(function(e) {
    e.preventDefault();
    $.post("{{ path('meal_favorites') }}", {
        meal_id: $(this).attr('btnFavorites'),
        csrfData: "{{ csrf_token('meal-favorites') }}"
    }, function(data) {
    	console.log(data)
        if (data.action == '') {
            $('[btnFavorites = "' + data.id + '"]').addClass('active')
        }else{
            $('[btnFavorites = "' + data.id + '"]').removeClass('active')
        }
    }, 'json').fail(function(data) {console.log(data.responseJSON)});
});
	</script>
{% endblock %}
