{% extends 'base.html.twig' %}

{% block title %}Restaurants - Être Végétarien!{% endblock %}

{% block stylesheets %}<link href="{{ asset('/css/restaurant-min.css') }}" rel="stylesheet"/>{% endblock %}
{% block body %}
<section id="restaurants" class="container paddingSeperateur">
    <div class="input-group nav-search">
        <i class="fas fa-search"></i>
        <input type="text" name="search" class="form-control" placeholder="Rechercher un restaurant" value="">
    </div>
    <div class="product-list-design flex flex-wrap flex-between">
        {% for restaurant in restaurants %}
        <a class="item" href="{{ path('restaurant_show', {'id': restaurant.id}) }}">
            <div class="top">
                <img alt="{{ restaurant.name }}" src="{{ restaurant.image }}" />
            </div>
            <div class="bottom">
                <p>{{ restaurant.name }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    i = 0;
    $(document).ready(function () {
        $('[name="search"]').keyup(function (e) {
            $.getJSON("/restaurants/search?search=" + $('[name="search"]').val())
                .then((restaurants) => {
                    $('.product-list-design').html("")
                    if (restaurants.length == 0) {
                        $('.product-list-design').html("<p class='margin-auto'>Aucun restaurant trouvé</p>")
                    }
                    restaurants.forEach((restaurant) => {
                        $(".product-list-design").append('<a class="item" href="/restaurant/' + restaurant.id + '"><div class= "top"><img alt="' + restaurant.name + '" src="' + restaurant.image + '" /></div><div class="bottom"><p>' + restaurant.name + '</p></div></a>')
                    })
                });
        });
    });
</script>
{% endblock %}