{% extends 'base.html.twig' %}

{% block body %}
<section id="nosArticles" class="fakeBlank paddingSeperateur">
    <div class="container">
        <h1 class="titre"><span>Nos Articles</span></h1>
    </div>
    <div class="container flex flex-center flex-wrap">
        <div class="item">
            <div class="content shadow-2">
                <div class="top">
                    <img src="https://scontent.cdninstagram.com/vp/dde559d59dc4623b8abefdcd250a22a0/5E586909/t51.2885-15/sh0.08/e35/s640x640/70914769_1763199203987512_6672457541272830141_n.jpg?_nc_ht=scontent.cdninstagram.com" alt="Test" />
                </div>
                <div class="bottom">
                    <h1>Titre du post</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content shadow-2">
                <div class="top">
                    <img src="https://scontent.cdninstagram.com/vp/3e7a24dd058ab7efae82b0d79dacfdd9/5E517979/t51.2885-15/sh0.08/e35/s640x640/71514578_2429992553889762_4795971366185156007_n.jpg?_nc_ht=scontent.cdninstagram.com" alt="Test" />
                </div>
                <div class="bottom">
                    <h1>Titre du post</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content shadow-2">
                <div class="top">
                    <img src="https://scontent.cdninstagram.com/vp/b1e443db21a105171725066b823b67e2/5E48141D/t51.2885-15/sh0.08/e35/s640x640/70645450_146759889899448_6629800126277503847_n.jpg?_nc_ht=scontent.cdninstagram.com" alt="Test" />
                </div>
                <div class="bottom">
                    <h1>Titre du post</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content shadow-2">
                <div class="top">
                    <img src="https://scontent.cdninstagram.com/vp/633e8c611d27570234ffe1f5b9bd3c50/5E54CFAD/t51.2885-15/sh0.08/e35/s640x640/69881397_684665865384215_8662651306213829100_n.jpg?_nc_ht=scontent.cdninstagram.com" alt="Test" />
                </div>
                <div class="bottom">
                    <h1>Titre du post</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="postInstagram" class="paddingSeperateur">
    <div class="container">
        <h1 class="titre"><span>Publication Instagram</span></h1>
    </div>
    <div class="container flex shadow-2">
        {% for post in postInstagram.data %}
        <div class="item">
            <img src="{{post.images.standard_resolution.url}}" alt="{% if post.caption is not null %}{{ post.caption.text }}{% else %}Photo de {{post.user.full_name}}{% endif %}{% if post.location is not null %} à {{post.location.name}}{% endif %}" />
        </div>
        {% endfor %}
    </div>
</section>
<section id="onParleDeNous" class="fakeBlank paddingSeperateur">
    <div class="container text-center">
        <img class="logo" src="{{ asset('/img/logo/logo-min-min.png') }}" alt="Logo Être Végétarien" />
        <h1 class="titre"><span>On parle de nous</span></h1>
        <div class="flex flex-center flex-wrap">
            <a class="item" href="https://www.yaleen.fr/"><img src="https://www.yaleen.fr/res/img/logo.png" alt="Logo de Yaleen" /></a>
            <a class="item" href="https://webagency.arnaudjacques.ovh/"><img src="https://webagency.arnaudjacques.ovh/img/logo.png" alt="Logo de WebAgency" /></a>
            <a class="item" href="https://arnaudjacques.ovh/"><img src="https://arnaudjacques.ovh/img/photo.png" alt="Logo de Arnaud JACQUES" /></a>
            <a class="item" href="https://weenovo.arnaudjacques.ovh/"><img src="https://weenovo.arnaudjacques.ovh/images/logo.png" alt="Logo de WeeNovo" /></a>
        </div>
    </div>
</section>
{% endblock %}