{% extends 'base.html.twig' %}

{% block body %}
<section id="nosArticles" class="fakeBlank paddingSeperateur">
    <header class="container">
        <h1 class="titre"><span>Nos Articles</span></h1>
    </header>
    <div class="container flex flex-center flex-wrap">
        {% for article in articles %}
        <a class="item" href="{{ path('article_show', {'id': article.id}) }}">
            <figure class="content shadow-2">
                <img src="{{ asset(article.image) }}" alt="{{ article.name }}" />
                <figcaption class="bottom">
                    <p class="titleOfArticle">{{ article.name }}</p>
                </figcaption>
            </figure>
        </a>
        {% else %}
        <p class="text-center">Aucun article</p>
        {% endfor %}
    </div>
</section>
<section id="postInstagram" class="paddingSeperateur">
    <div class="container">
        <h2 class="titre"><span>Publication Instagram</span></h2>
    </div>
    <div class="container flex shadow-2">
        {% for post in postInstagram.data %}
        <figure class="item">
            <img src="{{post.images.standard_resolution.url}}"
                alt="{% if post.caption is not null %}{{ post.caption.text }}{% else %}Photo de {{post.user.full_name}}{% endif %}{% if post.location is not null %} à {{post.location.name}}{% endif %}" />
        </figure>
        {% endfor %}
    </div>
</section>
<section id="onParleDeNous" class="fakeBlank paddingSeperateur">
    <div class="container text-center">
        <img class="logo" src="{{ asset('/img/logo/logo-min-min.png') }}" alt="Logo Être Végétarien" />
        <p class="titre"><span>On parle de nous</span></p>
        <div class="flex flex-center flex-wrap">
            <a class="item" href="https://www.yaleen.fr/"><img src="https://www.yaleen.fr/res/img/logo.png"
                    alt="Logo de Yaleen" /></a>
            <a class="item" href="https://webagency.arnaudjacques.ovh/"><img
                    src="https://webagency.arnaudjacques.ovh/img/logo.png" alt="Logo de WebAgency" /></a>
            <a class="item" href="https://arnaudjacques.ovh/"><img src="https://arnaudjacques.ovh/img/photo.png"
                    alt="Logo de Arnaud JACQUES" /></a>
            <a class="item" href="https://weenovo.arnaudjacques.ovh/"><img
                    src="https://weenovo.arnaudjacques.ovh/images/logo.png" alt="Logo de WeeNovo" /></a>
        </div>
    </div>
</section>
{% endblock %}