{% extends 'base.html.twig' %}

{% block title %}Inscription - Être végétarien sur Limoges
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('/css/inscription.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<section id="inscription" class="container paddingSeperateur">
		<div class="shadow-1 rond-2 p-4">
			<div class="top">
				<h1>
					Inscription
				</h1>
			</div>
			<div class="middle">
				<div id="resultat"></div>
				<div class="form-group">
					<label for="pseudonyme">Pseudonyme</label>
					<input type="text" class="form-control" id="pseudonyme" placeholder="Votre pseudonyme" required>
				</div>
				<div class="form-group">
					<label for="email">E-mail</label>
					<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Votre e-mail" required>
					<small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre email avec quelqu'un
						                    d'autre.</small>
				</div>
				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input type="password" class="form-control" id="password" placeholder="Votre mot de passe" required>
				</div>
			</div>
			<div class="bottom flex flex-between">
				<div class="left">
					<button id="btnInscription" type="button" class="btn btn-primary mr-1">S'inscrire</button>
					-
					<a href="{{ path('connexion') }}" class="cds">Se connecter</a>
				</div>
				<div
					class="right mtb-auto">{# <button id="btnInscriptionRapide"><i class="fad fa-user-secret"></i> Inscription anonyme
						                    <span>News</span></button> #}
				</div>
			</div>
		</div>
	</section>
	<script>
	$(document).ready(function() {
		$("#btnInscription").click(function(e) {
			if ($("#pseudonyme").val().length !== 0 && $("#email").val().length !== 0 && $("#password").val().length !== 0) {
				e.preventDefault();
				$.post("{{ path('inscriptionAction') }}", {
					username: $("#pseudonyme").val(),
					email: $("#email").val(),
					password: $("#password").val(),
					csrfData: "{{ csrf_token('create-user-inscription') }}"
				}, function(data) {
						$("#resultat").html("<div class='content'><p>" + data.message + "</p></div>");
						window.location.replace("{{ path('connexion') }}");
				}, 'json').fail(function (data) {
					$("#resultat").html("<div class='content red'><p>" + data.responseJSON.message + "</p></div>");
				});
			} else {
				$("#resultat").html("<div class='content red'><p>Veuillez remplir tout les champs !</p></div>");
			}
		});
	});
	</script>
{% endblock %}
