{% extends 'base.html.twig' %}

{% block title %}
	{{ article.name }}
	- Être Végétarien
{% endblock %}
{% block stylesheets %}<link href="{{ asset('/css/article-min.css') }}" rel="stylesheet"/>{% endblock %}
{% block body %}
	<section id="article" class="container flex paddingSeperateur">
		<div class="article_content">
			<h1 class="text-center">{{article.name}}</h1>
			<p>{{article.content|raw}}</p>
			<p>
				<span class="cds">{{article.name}}
					{{article.category}}</span>
				- Posté le
				{{ article.createdAt|date("d/m/Y") }}
				à
				{{ article.createdAt|date("H:i:s") }}</p>
		</div>
		<div class="sidebar">
			<h1 class="gris">Derniers articles</h1>
			<div class="content">
				{% for donnee in articles %}
					<div class="article">
						<a href="{{ path('article_show', {'id': donnee.id}) }}">
							<h1 class="cds">{{donnee.name}}
								{{ donnee.category }}
								<span>-
									{{ donnee.createdAt|date("d/m/Y") }}
									à
									{{ donnee.createdAt|date("H:i:s") }}</span>
							</h1>
							<h2 class="gris">{{ donnee.name }},
								{{ donnee.content|reducContent(30) }}...</h2>
						</a>
					</div>
				{% else %}
					<em>Aucun article</em>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
