{% extends 'base.html.twig' %}

{% block title %}{{user.username}} - Être végétarien!{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/user.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<section id="profil" class="container paddingSeperateur">
    <div class="container flex rond-2 p-4 shadow-1">
        <div class="left mtb-auto">
            <h1>{{user.username}}</h1>
            {% if user.preference is not empty %}
            <h2>{{user.preference}}</h2>
            <span>({{ user.preferenceCreatedAt.date|timeDiff("now", false, "Depuis ") }})</span>
            {% else %}
            <h2>Membre</h2>
            <span>({{ user.createdAt.date|timeDiff("now", false, "Il y a ") }})</span>
            {% endif %}
            <a href="{{ path('parametre') }}"><button id="btnParametre" type="button" class="btn btn-primary mr-1"><i
                        class="fad fa-cog"></i>
                    Paramètre</button></a>
        </div>
        <div class="right">
            <div class="avatar flex"><img class="mtb-auto"
                    src="{% if user.avatar %}{{ asset(user.avatar) }}{% else %}https://iupac.org/wp-content/uploads/2018/05/default-avatar.png{% endif %}"
                    alt="Avatar de {{user.username}}" /></div>
            <div class="badge">
                <div class="flex"><i class="fas fa-carrot margin-auto"></i></div>
            </div>
        </div>
    </div>
</section>
<section id="timeline" class="container paddingSeperateur">
    <div class="container flex flex-column rond-2 p-4 shadow-1">
        <div class="top">
            <h1><i class="fad fa-user"></i> Biographie</h1>
            <p>{% if app.user.bio %}{{ app.user.bio}}{% else %}Aucune biographie{% endif %}</p>
        </div>
        <div class="bottom">
            <div class="row">
                <div class="col-5">
                    <div class="nav flex nav-pills flex-between" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <a class="p-4 flex nav-link active" id="restaurantfav-tab" data-toggle="pill"
                            href="#restaurantfav" role="tab" aria-controls="restaurantfav" aria-selected="true">
                            <div class="margin-auto"><span><i class="fad fa-utensils"></i></span>Restaurant favoris
                            </div>
                        </a>
                        <a class="p-4 flex nav-link" id="repasfav-tab" data-toggle="pill" href="#repasfav" role="tab"
                            aria-controls="repasfav" aria-selected="false">
                            <div class="margin-auto"><span><i class="fad fa-hat-chef"></i></span>Repas favoris</div>
                        </a>
                        <a class="p-4 flex nav-link" id="nourriturefav-tab" data-toggle="pill" href="#v-nourriturefav"
                            role="tab" aria-controls="v-nourriturefav" aria-selected="false">
                            <div class="margin-auto"><span><i class="fad fa-apple-crate"></i></span>Nourriture favoris
                            </div>
                        </a>
                        <a class="p-4 flex nav-link" id="rs-tab" data-toggle="pill" href="#v-rs" role="tab"
                            aria-controls="v-rs" aria-selected="false">
                            <div class="margin-auto"><span><i class="fad fa-globe"></i></span>Réseaux sociaux</div>
                        </a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="produit-list-design tab-pane fade show active" id="restaurantfav" role="tabpanel"
                            aria-labelledby="restaurant-tab">
                            {% for restaurant in restaurants %}
                            <div class="item">
                                <div class="top">
                                    <img alt="{{ restaurant.Restaurant.nom }}"
                                        src="{{ restaurant.Restaurant.image }}" />
                                </div>
                                <div class="bottom">
                                    <p>{{ restaurant.Restaurant.nom }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="produit-list-design tab-pane fade" id="repasfav" role="tabpanel"
                            aria-labelledby="repasfav-tab">
                            {% for repa in repas %}
                            <div class="item">
                                <div class="top">
                                    <img alt="{{ repa.Repas.nom }}" src="{{ repa.Repas.image }}" />
                                </div>
                                <div class="bottom">
                                    <p>{{ repa.Repas.nom }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="produit-list-design tab-pane fade" id="v-nourriturefav" role="tabpanel"
                            aria-labelledby="v-nourriturefav-tab">
                            {% for produit in produits %}
                            <div class="item">
                                <div class="top">
                                    <img alt="{{ produit.produitId.nom }}" src="{{ produit.produitId.image }}" />
                                </div>
                                <div class="bottom">
                                    <p>{{ produit.produitId.nom }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="v-rs" role="tabpanel" aria-labelledby="v-rs-tab">
                            <div class="margin-auto">
                                <a href="https://">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}