{% extends 'admin/base.html.twig' %}

{% block title %}
	{{ article.nom }}!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/ui/trumbowyg.min.css">
{% endblock %}
{% block body %}
	<section class="container">
		<a href="{{ path('admin_gestion_article') }}" class="btn btn-primary btnRetour mt-4">
			<i class="far fa-backspace" aria-hidden="true"></i>
			Retour</a>
	</section>
	<section id="panel" class="container">
		<div class="editArticle">
			<div class="flex">
				<input id="nom" value="{{ article.nom }}" placeholder="Nom de l'article" class="margin-auto"/>
			</div>
			<textarea id="editeur">{{ article.contenu }}</textarea>
			<div class="btnForSaveAndCancel">
				<div class="input-group mb-3">
					<div class="input-group-prepend hidden">
						<span class="input-group-text">URL de l'image :
						</span>
					</div>
					<input type="text" class="form-control hidden" id="image" value="{{ article.image }}">
					<form method="post" class="w-100" action="" enctype="multipart/form-data" id="uploadImage">
						<div class="input-group mb-3 w-100">
							<div class="custom-file w-100">
								<input type="file" class="custom-file-input" id="file">
								<label class="custom-file-label" for="file">Choisir l'image de présentation</label>
							</div>
						</div>
					</form>
				</div>
				<button id="btnSaveArticle" type="button" class="btn btn-primary">Sauvegarder</button>
				<button type="button" class="btn btn-secondary btnCancelArticle">Annuler</button>
			</div>
		</div>
		<div id="resultat"></div>
	</section>
{% endblock %}

{% block javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/trumbowyg.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/langs/fr.min.js"></script>
	<script>
		$('#editeur').trumbowyg({lang: 'fr'});
$(document).ready(function () {
$("#btnSaveArticle").click(function (e) {
let stop = "non"
var fd = new FormData();
if ($('#file').val().length !== 0) {
stop = "oui"
var files = $('#file')[0].files[0];
fd.append('file', files);
$.ajax({
url: "{{ path('admin_upload_image') }}?_token=  {{ csrf_token('upload-image') }}",
type: 'post',
data: fd,
contentType: false,
processData: false,
success: function (response) {
$("#image").attr("value", response.location)
$("#resultat").html("<p>" + response.message + "</p>");
document.getElementById("file").value = '';
$("#btnSaveArticle").click()
}
});
}
if ($('#nom').val().length !== 0 && $('#editeur').val().length !== 0) {
if (stop == "non") {
e.preventDefault();
$.post("{{ path('admin_save_article') }}", {
nom: $("#nom").val(),
contenu: $("#editeur").val(),
article_id: '{{ article.id }}',
image: $("#image").val(),
csrfData: "{{ csrf_token('save-item') }}"
}, function (data) {
if (data.code == 200) {
$("#resultat").html("<p>" + data.message + "</p>");
} else {
$("#resultat").html("<p>" + data.message + "</p>");
}
}, 'json');
}
} else {
$("#resultat").html("<p>Veuillez remplir le nom et le contenu</p>");
}
});
});
	</script>
{% endblock %}
